<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список 4-ої бригади</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Список 4-ої бригади</h1>
        <ul>
            <li><a href="/participant/1">Костенко Павло Сергійович</a></li>
            <li><a href="/participant/2">Сидорук Аліна Костянтинівна</a></li>
            <li><a href="/participant/3">Хижняк Валерія Валеріївна</a></li>
        </ul>
    </div>
</body>
</html>
